<div  *ngIf="clienteForm" [formGroup]="clienteForm">
  <!-- Nombre -->

  <div class="field">
    <p-floatlabel variant="on">
      <input id="nombre" type="text" pInputText formControlName="nombre" autocomplete="off" />
      <label for="nombre">Nombre</label>
    </p-floatlabel>
  </div>

  <!-- Email -->
  <div class="field">
    <p-floatlabel variant="on">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText formControlName="email" autocomplete="off" />
    </p-floatlabel>
  </div>

  <div class="field">
    <p-floatlabel variant="on">
      <label for="description">Description</label>
      <input id="description" type="text" pInputText formControlName="description" autocomplete="off" />
    </p-floatlabel>
  </div>

  <!-- Guardar -->
  <div class="buttons">
    <button pButton type="button" label="Cancelar" icon="pi pi-times" severity="danger" (click)="close()"></button>
    <button [disabled]="this.disabledForm()" pButton type="button" label="Guardar" icon="pi pi-save" (click)="submit()"></button>
  </div>
</div>
